doctype html
html(ng-app="nas")
  head
    title= title
    != env.getManifestFiles("app")
  body
    div(ng-controller="FilesCtrl")
      table.table.table-hover
        thead
          tr
            th Name
            th Size
            th Modified
        tbody
          tr(ng-repeat="file in files")
            td {{file.name}}
            td {{file.size}} KB
            td {{file.modifiedTime | date:'medium'}}