doctype html
html(ng-app)
  head
    title= title
    != env.getManifestFiles("app")
  body
    h1= title
    p Welcome to #{title}
      div(ng-controller="FilesCtrl")
        ul
          li(ng-repeat="file in files") {{file.name}}