doctype html
html(ng-app="nas")
  head
    title= title
    != env.getManifestFiles("app")
  body
    div(ng-controller="FilesCtrl")
      div.navbar.navbar-inverse.navbar-fixed-top
        div.container
          div.navbar-header
            a.navbar-brand(href="./")= title
            a.navbar-text /{{path}}

      div.container
        table#files.table.table-hover
          thead
            tr
              th Name
              th Size
              th Modified
          tbody
            tr(ng-repeat="node in fileNodes" ng-switch="node.type")
              td
                i.fa.fa-folder.fa-lg(ng-switch-when="directory")
                i.fa.fa-file.fa-lg(ng-switch-when="file")
                span {{node.name}}
              td(ng-switch-when="directory")
              td(ng-switch-when="file") {{(node.size / 1024) | number:2}} KB
              td {{node.modifiedTime | date:'medium'}}

        footer
          ul.list-unstyled
            li.pull-right
              a(href="#top") Back to top
          p Made by SungHo Kim. Contact him at <a href='mailto:likeleon@gmail.com'>likeleon@gmail.com</a>.
