doctype html
html(ng-app="nas")
  head
    title= title

    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }

    != env.getManifestFiles("app")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body(ng-cloak)
    include ./shared/header/header
    include ./main/index